header{
    background-color: #1b1b1b;
    width: 100vw;
    text-align: center;
}
.location{
    background-color: #3b3b3b;

    
}
.location a{
text-decoration: none;
    color: #04a52f;
    font-size: x-large;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    transition: all 0.2s ease;
    text-align: center;
}
.location a:hover{
   text-shadow:  0 0 20px #04a52f;
   color:  whitesmoke;;
}

.logo img{
height: 12vh;
}
.logo{
width: 100%;
display: flex;
}
html{
    overflow-x: hidden;
}
body{
    background-color: #2b2b2b;
}

.block{
    background-color: #1c1c1c;
    width: 100%;

    margin: auto;

}
.mybr{
    height: 5vh;;
}
.text{
    color: whitesmoke;
    font-size: large;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    text-decoration: none;
    text-align: center;
}
.block img{
    border-radius: 40px;
    border: 10px #2b2b2b solid;
}
.block a{
    text-decoration: none;
}
h1{

    text-decoration: none;
    color:#04a52f;
    text-shadow:  0 0 7px #04a52f;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
}
.personblock{
    background-color: #1c1c1c;;
}
.personblock img{
    border-radius: 40px;
}
svg{
    color:  #3b3b3b;
    fill: #3b3b3b;
}
.twitter:hover {
    fill: rgb(41, 165, 202);
    transition: 0.6s;
    filter: drop-shadow(0 0 10px rgb(41, 165, 202));
}

.twitter {
    transition: 0.6s;
}
.instagram:hover {
    fill: rgb(214, 46, 244);
    transition: 0.6s;
    filter: drop-shadow(0 0 10px rgb(214, 46, 244));
}

.instagram {
    transition: 0.6s;
}
.youtube {
    transition: 0.6s;
}

.youtube:hover {
    fill: rgb(255, 0, 0);
    transition: 0.6s;
    filter: drop-shadow(0 0 10px rgb(255, 50, 50));
}
.telegram:hover {
    fill: rgb(41, 165, 202);
    transition: 0.6s;
    filter: drop-shadow(0 0 10px rgb(41, 165, 202));
}

.telegram {
    transition: 0.6s;
}
.vk {
    transition: 0.6s;
}

.vk:hover {
    fill: rgb(25, 68, 114);
    transition: 0.6s;
    filter: drop-shadow(0 0 10px rgb(25, 68, 114));
}